/* .bg-img1 {
	background-color: #000;
	background-size: cover;
	background-image: url(./1.jpg);
	display: block;
}
.bg-img2 {
	background-color: #000;
	background-size: cover;
	background-image: url(./2.jpg);
	display: block;
}
.bg-img3 {
	background-color: #000;
	background-size: cover;
	background-image: url(./3.jpg);
	display: block;
} */
